.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
.active {
  border-bottom: 10px solid rgba(230, 222, 6, 0.5);
}
.image {
  width: 370px;
  margin-top: 50px;
}
@media only screen and (max-width: 770px) {
  .image {
    width: 250px;
    margin-top: 50px;
  }
}
